* {
  margin: 0px;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.appCont {
  display: flex;
  flex-direction: row;
}
.mainPage {
  width: 100%;
  margin: 0% 30% 0% 17%;
}

/* -------------------------------------------------------------------------------- */
/* #RECIPECARDDESIGN */
.recipeCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 400px;
  border-style: solid;
  border-radius: 5px;
  margin: 3%;
}
.recipeCardIn {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.recipeCardAB {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.recipeImage {
  display: flex;
  width: 600px;
  background: lightgray;
}
.recipeInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}
.recipeInfoA h2,
.recipeInfoA p {
  margin: 0px 0px 15px 0px;
}
.recipeInfoA p {
  font-size: 17px;
}
.recipeInfoBA {
  margin: 0px 0px 20px 0px;
}
.recipeInfoBA p {
  margin: 0px 0px 0px 0px;
  font-size: 17px;
}
.recipeCardB {
  display: flex;
  display: none;
  flex-direction: column;
}
.recipeCardBA {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.recipeCardIng,
.recipeCardIns {
  width: 50%;
  margin: 15px;
  overflow: auto;
}
.recipeCardIng {
  width: 40%;
}
.recipeCardIns {
  width: 60%;
}
.recipeCardIns h3,
.recipeCardIng h3 {
  margin: 0px 0px 13px 0px;
}
.recipeCardIns p,
.recipeCardIng p {
  margin: 0px 0px 13px 0px;
}
.recipeCardIng::-webkit-scrollbar,
.recipeCardIns::-webkit-scrollbar {
  display: none;
}
.recipeCardAdd {
  margin: 15px;
}
.recipeCardC {
  display: flex;
  flex-direction: column;
}
.recipeCardC button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  background: white;
  border: none;
  cursor: pointer;
}
/* #CREATERECIPEFORM */
.createRecipeCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createRecipeFormA,
.createRecipeFormB {
  display: flex;
  width: 85%;
  height: 400px;
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  margin: 3% 0% 0% 0%;
}
.createNewRecipeImg {
  display: flex;
  width: 550px;
  background: lightgrey;
}
.createNewRecipeA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}
.createNewRecipeAb {
  display: flex;
  flex-direction: column;
}
.createNewRecipeAb input,
.createNewRecipeAb textarea {
  font-size: 15px;
  padding: 7px;
  margin: 10px;
}
.createNewRecipeAc {
  display: flex;
  flex-direction: row;
}
.createNewRecipeInfoAc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.createNewRecipeInfoAc input,
.createNewRecipeInfoAc select {
  font-size: 15px;
  padding: 7px;
  margin: 10px;
}
.createNewRecipeB {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.createNewRecipeBa {
  display: flex;
  width: 100%;
  height: 100%;
}
.createRecipeIng,
.createRecipeIns,
.createRecipeAdd {
  display: flex;
  width: 100%;
}
.createRecipeIng textarea,
.createRecipeIns textarea,
.createRecipeAdd textarea {
  width: 100%;
  font-size: 15px;
  padding: 7px;
  margin: 10px;
}
.createRecipeBtn {
  display: flex;
  justify-content: center;
}
.createRecipeBtn button {
  padding: 5px 20px 5px 20px;
  font-size: 15px;
}
/* #RECIPEPAGECARD */
.recipePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipePageCardA,
.recipePageCardB {
  margin: 4% 0px 4% 0px;
  width: 90%;
}
.recipePageCardA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 400px;
  border-style: solid;
  border-radius: 5px;
}
.recipePageCardAa {
  display: flex;
  flex-direction: row;
}
.recipePageCardImg {
  display: flex;
  width: 600px;
  background: lightgray;
}
.recipePageCardInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}
.recipePageCardInfoB {
  display: flex;
  flex-direction: row;
}
.recipePageCardInfoBa {
  display: flex;
  flex-direction: column;
}
.recipePageCardB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-radius: 5px;
}
.recipePageCardInfoC {
  display: flex;
  flex-direction: column;
}
.recipePageCardInfoCa {
  display: flex;
  flex-direction: row;
}
.recipePageCardIng {
  width: 40%;
}
.recipePageCardIns {
  width: 60%;
}
.recipePageCardIng p,
.recipePageCardIns p {
  padding: 0px 0px 15px 0px;
}
.recipePageCardInfoCa div,
.recipePageCardInfoCb div,
.recipePageCardInfoCb {
  padding: 1.5%;
}
.recipePageCardInfoCa h3,
.recipePageCardInfoCb h3,
.recipePageCardInfoCb h3 {
  margin: 0px 0px 5px 0px;
}

/* -------------------------------------------------------------------------------- */
/* #PAGEBANNER */
.pageBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 2%;
}
.pageBanner p {
  font-size: 30px;
}
/* #NAVBAR */
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  height: 100vh;
  border-right: solid;
  border-width: thin;
  border-color: black;
  position: fixed;
}
.navBar p {
  font-size: 20px;
}
/* #HOMEPAGE */
.homePage {
  display: flex;
  flex-direction: column;
}
.allRecipesCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #EXPLOREPAGE */
.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchBar input {
  padding: 10px;
  margin: 0px 15px 0px 0px;
  font-size: 15px;
}
.searchBar button {
  padding: 5px 7px 5px 7px;
  margin: 0px 0px 0px 5px;
}
.filteredSection {
  display: flex;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 2%;
}
#filteredSection {
  display: none;
}
/* #CREATERECIPE */
.recipePartOneA {
  display: flex;
  flex-direction: column;
}
.recipePartOneAB {
  display: flex;
  flex-direction: row;
}
.recipePartOneAC {
  display: flex;
  flex-direction: column;
}
.recipePartTwo {
  display: flex;
  flex-direction: column;
}
.recipePartTwoA {
  display: flex;
  flex-direction: row;
}
/* #NEWRECIPE */
.newRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 100vh;
  border-left: solid;
  border-width: thin;
  border-color: black;
  position: fixed;
  right: 0;
  overflow-x: auto;
}
.newRecipes h2 {
  margin: 15px 0px 20px 0px;
}
.newRecipes::-webkit-scrollbar {
  display: none;
}
.newRecipeCont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.newRecipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 15px;
  margin: 0px 25px 20px 25px;
  border-style: solid;
  border-radius: 5px;
}
.newRecipe h3 {
  margin: 0px 0px 10px 0px;
}
.newRecipeInfo {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 15px 0px;
}
.newRecipeInfoA {
  margin: 0px 20px 0px 0px;
}
.buttonBar {
  display: flex;
  flex-direction: row;
}
.iconCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 10px 0px 0px;
}
/* #LOGIN/REGISTER */
.loginPage,
.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginPage h2,
.loginPage button,
.registerPage h2,
.registerPage button {
  margin: 0px 0px 30px 0px;
}
.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 3%;
  margin: 10% 0px 0px 0px;
  border-style: solid;
}
.loginForm input,
.registerForm input {
  width: 75%;
  padding: 10px;
  margin: 0px 0px 35px 0px;
}
/* #RECIPEPAGE */
.recipePageCard {
  display: flex;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  flex-direction: column;
  align-items: center;
}
.reviewFormSection {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 3% 0px 3% 0px;
}
.reviewFormCont {
  display: flex;
  align-items: flex-start;
  width: 80%;
}
.profileIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 25px 0px 0px;
}
.profileImg {
  width: 100px;
  height: 100px;
  background: lightgray;
  border-radius: 50%;
}
.reviewForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviewForm textarea {
  padding: 10px;
  border-radius: 5px;
  margin: 0px 0px 15px 0px;
}
.reviewBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ratingForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingForm p {
  font-size: 25px;
}
#star1 svg,
#star2 svg,
#star3 svg,
#star4 svg,
#star5 svg {
  font-size: 30px;
  color: lightgray;
}
.reviewsSections {
  display: flex;
  flex-direction: column;
}
.userRatingCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.userRating {
  display: flex;
  flex-direction: row;
  width: 95%;
}
.userReview svg {
  color: red;
}
.userReview p {
  font-size: 16px;
}
