* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.appCont {
  display: flex;
  flex-direction: row;
}
/* #NAVBAR */
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  height: 100vh;

  border-right: solid;
  border-width: 2px;
  border-color: black;

  position: fixed;
  background: rgb(29, 53, 87, 0.95);
}
.navBarBtn {
  display: flex;
  flex-direction: column;
}
.navBarBtn a,
.logOutButton {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.navBarBtn a svg {
  font-size: 30px;
  color: rgb(245, 240, 228);
}
.homeButton {
  background: rgb(50, 230, 134);
}
.exploreButton {
  background: rgb(239, 217, 46);
}
.drinkButton {
  background: rgb(180, 2, 106);
}
.entreeButton {
  background: rgb(234, 112, 18);
}
.userButton {
  background: rgb(83, 55, 122);
}
.createButton {
  background: rgb(87, 152, 177);
}
.loginButton {
  background: rgb(89, 192, 62);
}
.logOutButton {
  background: rgb(166, 30, 43);
}
/* #MAINPAGE */
.mainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  margin: 0% 30% 0% 17%;
}
/* #HOMEPAGE */
.homePage {
  width: 100%;
}
.allRecipesCont {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(69, 123, 157, 0.3);
}
/* #EXPLOREPAGE */
.filteredSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5%;

  border-bottom: solid;
  border-width: 2px;
  border-color: black;
}
#filteredSection {
  display: none;
}
/* #PROFILEPAGE */
.profilePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* #CREATERECIPE */
.createRecipePage {
  background: rgb(142, 202, 230, 0.8);
}
/* LOGIN/REGISTER */
.loginPage,
.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: rgb(2, 62, 138, 0.1);
}
/* #USERPROFILE */
.chefProfileNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;

  border-bottom: solid;
  border-top: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(69, 123, 157, 0.9);
}
.userProfilePageMain {
  height: 100%;
}
.userRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(33, 158, 188, 0.2);
}
.userReviews {
  display: flex;
  flex-direction: column;
}
.userBookmarked {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#userBookmarked,
#userReviews,
#userFollowers,
#userFollowing {
  display: none;
  background: rgb(33, 158, 188, 0.2);
}
#userReviews,
#userFollowers,
#userFollowing {
  height: 100%;
}
.notification {
  display: flex;
  justify-content: center;
  width: 100%;
}
.followingProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.followingIcon {
  width: 120px;
  height: 120px;
  background: lightgray;
  border-radius: 60px;
}
/* #RECIPEPAGE */
.recipePageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid;
  border-width: 2px;

  background: rgb(0, 180, 216, 0.2);
}
.recipePageCardA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 400px;
  margin: 2.5%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(241, 250, 238, 0.8);
}
.recipePageCardAa {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.recipePageCardImg {
  width: 45%;
  background: lightgoldenrodyellow;
  margin: 12px;
}
.recipePageCardInfo {
  width: 55%;
}
.recipePageCardInfoA h3 {
  margin: 12px 0px 0px 0px;
}
.recipePageCardInfoB {
  display: flex;
  flex-direction: row;
}
.recipePageCardInfoBa {
  width: 100%;
}
.recipePageCardInfoBa p {
  margin: 12px 0px 0px 0px;
}
.recipePageCardB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 2.5%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(241, 250, 238, 0.8);
}
.recipePageCardInfoBb {
  display: flex;
  flex-direction: row;
}
.recipePageCardIng h3,
.recipePageCardIns h3,
.recipePageCardInfoCb h3 {
  margin: 12px 12px 12px 14px;
}
.recipePageCardIngA,
.recipePageCardInsA,
.recipePageCardInfoCb div {
  padding: 8px;
  margin: 0px 12px 12px 12px;
  border-radius: 10px;
}
.recipePageCardIngA p,
.recipePageCardInsA p {
  margin: 0px 0px 3.5% 0px;
}
.reviewFormCont {
  display: flex;
  flex-direction: row;
  padding: 2% 0px 2% 0px;
  border-bottom: solid;
  border-width: 2px;
}
.profileIcon,
.reviewForm {
  margin: 0px 3% 0px 3%;
}
.profileIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: lightgoldenrodyellow;
}
.reviewForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviewForm textarea {
  padding: 1%;
  margin: 0% 0% 2% 0%;
}
.reviewBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ratingForm {
  display: flex;
  flex-direction: row;
}
.userRatingCont {
  display: flex;
  flex-direction: row;
  padding: 2% 0px 2% 0px;
  border-bottom: solid;
  border-width: 2px;
}
.reviewFormCont,
.userRatingCont {
  background: rgb(241, 250, 238, 0.4);
}
.userRating {
  display: flex;
  flex-direction: row;
}
/* DRINKSONLYPAGE/DISHESONLYPAGE*/
.onlyDrinksCont,
.dishesOnlyCont {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(69, 123, 157, 0.3);
}
/* #NEWRECIPES */
.newRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100vh;

  border-left: solid;
  border-width: 2px;
  border-color: black;

  position: fixed;
  overflow: auto;
  right: 0px;
  background: rgb(2, 62, 138, 0.6);
}
.newRecipes::-webkit-scrollbar {
  display: none;
}

/* --------------------------------------------------------------------- */
/* #PAGEBANNER */
.pageBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5%;

  border-bottom: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(69, 123, 157);
}
/* #RECIPECARDDESIGN */
.recipeCard {
  width: 90%;
  height: 430px;
  margin: 2.5%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(241, 250, 238, 0.5);
}
.recipeCardIn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.recipeCardA {
  width: 100%;
  height: 100%;
}
.recipeCardMainInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.recipeCardMainInfo a {
  width: 45%;
  background: lightgray;
  margin: 12px;
}
.recipeInfo {
  width: 55%;
  margin: 0px 12px 0px 0px;
}
.recipeInfo h3 {
  margin: 12px 0px 0px 0px;
}
.recipeInfoB {
  display: flex;
  flex-direction: row;
}
.recipeInfoBA {
  width: 100%;
}
.recipeInfoBA p,
.recipeInfoPoster p,
.recipeInfoDesc p {
  margin: 12px 0px 0px 0px;
}
.recipeCardB {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.recipeCardIngIns {
  display: flex;
  flex-direction: row;
  height: 75%;
}
.recipeCardIng {
  width: 40%;
}
.recipeCardIns {
  width: 60%;
}
.recipeCardIng,
.recipeCardIns {
  display: flex;
  flex-direction: column;
}
.recipeCardIng h3,
.recipeCardIns h3,
.recipeCardAdd h3 {
  margin: 12px 12px 12px 14px;
}
.recipeCardIng div,
.recipeCardIns div {
  padding: 8px;
  margin: 0px 12px 12px 12px;
  border-radius: 10px;
  background: rgb(241, 250, 238, 0.5);
  overflow: auto;
}
.recipeCardAdd div {
  padding: 5px;
  margin: 0px 12px 12px 12px;
  border-radius: 10px;
  background: rgb(241, 250, 238, 0.5);
}
.recipeCardIng div::-webkit-scrollbar,
.recipeCardIns div::-webkit-scrollbar {
  display: none;
}
.recipeCardIng div p,
.recipeCardIns div p {
  margin: 0px 0px 3.5% 0px;
}
.recipeCardAdd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25%;
}
.recipeCardC {
  display: flex;
  flex-direction: column;
}
.recipeCardC button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 2.5px;
  margin: 10px 10px 0px 0px;

  border: none;
  border-radius: 6px;
}
.recipeCardC button svg {
  color: black;
}
.seeInsIngBtn {
  background: rgb(72, 117, 208);
}
.chefProfileBtn {
  background: rgb(159, 99, 239);
}
.bookmarkBtn {
  background: rgb(212, 67, 87);
}
.likeBtn {
  background: rgb(238, 216, 73);
}
.reviewBtn {
  background: rgb(235, 227, 215);
}
.recipeCardC button svg {
  font-size: 20px;
}
/* #NEWRECIPECARDDESIGN */
.newRecipeCard {
  margin: 3%;
  padding: 2%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(241, 250, 238, 0.5);
}
.newRecipeCard h3 {
  margin: 0px 0px 12px 0px;
}
.newRecipeDesc {
  margin: 0px 0px 12px 0px;
}
.newRecipeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 12px 0px;
}
.buttonBar {
  display: flex;
  flex-direction: row;
}
.buttonBar div {
  display: flex;
  align-items: center;
}
/* LOGIN/REGISTERFORM */
.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin: 100px 0px 0px 0px;
  padding: 30px 0px 45px 0px;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(255, 254, 230);
}
.loginForm h2,
.registerForm h2 {
  margin: 0px 0px 15px 0px;
}
.loginForm input,
.registerForm input {
  padding: 10px;
  margin: 0px 0px 25px 0px;
}
.loginForm button,
.registerForm button {
  padding: 5px;
}
.loginForm p,
.registerForm p {
  margin: 15px 0px 0px 0px;
}
/* #CREATERECIPEFORM */
.createRecipeCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createRecipeFormA,
.createRecipeFormB {
  background: rgb(241, 250, 238, 1);
}
.createRecipeFormA {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 400px;
  margin: 2%;

  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.createNewRecipeImg {
  width: 45%;
  background: lightgray;
  margin: 12px;
}
.createNewRecipeA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}
.createNewRecipeAb {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.createNewRecipeAb input,
.createNewRecipeAb textarea {
  margin: 12px;
  padding: 1%;
}
.createNewRecipeAb textarea {
  height: 100%;
}
.createNewRecipeAc {
  display: flex;
  flex-direction: column;
}
.createNewRecipeInfoAc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.createNewRecipeInfoAcb {
  display: flex;
}
.createNewRecipeInfoAcb select,
.createNewRecipeInfoAcb input {
  width: 100%;
  margin: 12px;
  padding: 7px;
  font-size: 16px;
}
.createRecipeFormB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 400px;
  margin: 2%;

  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.createRecipeFormBa {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.createNewRecipeBa {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.createNewRecipeBb {
  display: flex;
  height: 35%;
}
.createNewRecipeBa textarea,
.createNewRecipeBb textarea {
  width: 100%;
  margin: 12px;
  padding: 1%;
}

/* #USERPROFILECARD */
.chefProfileCardCont {
  display: flex;
  justify-content: center;

  background: rgb(142, 202, 230, 0.8);
}
.chefProfileCard {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 400px;
  margin: 2.5%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(200, 18, 37, 0.7);
}
.chefProfileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background: lightgoldenrodyellow;
  margin: 12px;
}
.userIconCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userIcon {
  width: 150px;
  height: 150px;
  background: lightgray;
  border-radius: 37px;
}
.chefProfileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  margin: 12px 12px 12px 0px;
}
.chefProfileInfoA {
  display: flex;
  flex-direction: column;
}
.chefProfileInfoA div {
  margin: 0px 0px 12px 0px;
}
.chefProfileInfoAb {
  display: flex;
  justify-content: space-between;
}
.chefProfileInfoAd {
  display: flex;
  flex-direction: row;
}
.chefProfileInfoAd div {
  width: 100%;
}
.chefProfileSettings {
  display: flex;
  flex-direction: column;
}
#chefProfileSettings {
  display: none;
}
.chefProfileUpdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chefProfileUpdateA {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chefProfileUpdateA select,
.chefProfileUpdateA input,
.chefProfileUpdateA textarea {
  padding: 1%;
  margin: 0px 0px 12px 0px;
}
.chefProfileUpdateA select {
  width: 100%;
}
.chefProfileUpdateB {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.chefProfileUpdateB input,
.chefProfileUpdateB select {
  padding: 1%;
  margin: 0px 0px 12px 0px;
}
.chefProfileSub {
  display: flex;
  justify-content: center;
}
