* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.appContTwo {
  display: flex;
  flex-direction: row;
}

/* #TITLEBANNER */
.titleBanner {
  width: 100%;
  position: fixed;
}
.titleBannerCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0rem 2rem 0rem 2rem;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  background: white;
}
.titleBannerOne,
.titleBannerTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* #NAVBAR */
.navBar {
  height: 100vh;
  margin: 4rem 0px 0px 0px;
  border-right: solid;
  border-width: thin;
  position: fixed;
}
#navBar {
  width: 4rem;
}
.navBarBtn {
  display: flex;
  flex-direction: column;
}
#homeButton,
#exploreButton,
#drinkButton,
#entreeButton,
#userButton,
#createButton,
#logInButton,
#logOutButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.6rem;
}
.navBarBtn svg {
  font-size: 1.25rem;
}
/* #MAINPAGE */
#mainPage {
  width: 100%;
  margin: 4rem 0rem 0rem 4rem;
}
/* #HOMEPAGE */
.homePage {
  display: flex;
}
.homePageCont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.allRecipesCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0rem 0rem 0rem;
}
/* #EXPLOREPAGE */
.filteredSection {
  display: flex;
  border-bottom: solid;
  border-width: thin;
  justify-content: space-around;
  padding: 0.75rem 0rem 0.75rem 0rem;
}
/* #RECIPEPAGE */
.recipePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewsSections {
  display: flex;
}
.reviewsSectionCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* #USERSPROFILEPAGE */
.profilePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.userProfilePageMain {
  display: flex;
  margin: 3rem 0rem 3rem 0rem;
}
.usersRecipes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#userBookmarked,
#userReviews,
#userFollowers,
#userFollowing {
  display: none;
}
/* #LOGIN/REGISTER */
.loginPage,
.registerPage {
  display: flex;
  justify-content: center;
}
.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  padding: 2em;
  margin: 5em 0em 0em 0em;
  border-style: solid;
  border-width: thin;
}
.loginForm input,
.registerForm input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.loginForm button,
.registerForm button {
  width: 30%;
  padding: 0.4rem;
}
.loginForm h2,
.loginForm input,
.loginForm button,
.loginForm p,
.registerForm h2,
.registerForm input,
.registerForm button,
.registerForm p {
  margin: 0rem 0rem 1.5rem 0rem;
}

/* -------------------------------------------------------------------------------- */
/* #RECIPECARDDESIGN */
.recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: 37.5rem;
  margin: 0.75rem;
  padding: 1rem;
  border-style: solid;
  border-width: thin;
}
.recipeImage {
  aspect-ratio: 1/1;
  background: lightgray;
}
.recipeInfoB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipeCardB {
  display: none;
  height: 100%;
}
.recipeCardIngIns {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.recipeCardIng,
.recipeCardIns {
  margin: 0rem 0rem 1rem 0rem;
}
.recipeCardIng div,
.recipeCardIns div {
  height: 15rem;
  overflow: auto;
}
.recipeCardIng div p,
.recipeCardIns div p {
  margin: 0rem 0rem 0.5rem 0rem;
}
.recipeCardIng div::-webkit-scrollbar,
.recipeCardIns div::-webkit-scrollbar {
  display: none;
}
/* #RECIPEPAGEPAGE */
.recipePageCard {
  width: 85rem;
  margin: 4rem 0rem 4rem 0rem;
  border-style: solid;
  border-width: thin;
}
.recipePageCardA,
.recipePageCardB {
  padding: 2rem;
}
.recipePageCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.recipePageCardInfoA h1,
.recipePageCardPoster,
.recipePageCardDesc {
  margin: 0rem 0rem 2rem 0.5rem;
}
.recipePageCardPoster p,
.recipePageCardDesc p {
  font-size: 1.2rem;
}
.recipeInfoBasic,
.recipePageCardBasic {
  display: flex;
  flex-direction: row;
}
.recipePageCardBasic {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0rem 0rem 1rem 0rem;
}
.recipePageCardBasic p {
  font-size: 1.1rem;
}
.recipePageCardBasic svg {
  font-size: 35px;
  margin: 0rem 0.5rem 0rem 0rem;
}
.recipeCardButton {
  display: flex;
}
.recipeCardButton button,
.recipeCardButton a {
  display: flex;
}
.recipeCardButton button {
  margin: 0rem 0.75rem 0rem 0rem;
  border: none;
  background: white;
}
.recipeCardButton svg {
  font-size: 2.5em;
}
.recipePageCardB {
  background: #4c4c4c;
  color: #d0d0d0;
}
.recipePageCardIngA p,
.recipePageCardB li {
  font-size: 1.15em;
  margin: 0rem 0rem 1rem 0rem;
}
.recipePageCardAa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipePageCardImg {
  aspect-ratio: 1/1;
  width: 600px;
  background: gray;
}
.recipePageCardInfoBb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipePageCardIng,
.recipePageCardIns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipePageCardIng h1,
.recipePageCardIns h1 {
  margin: 0rem 0rem 1.5rem 0rem;
}
.verticalDivide {
  border-style: solid;
  border-radius: 5px;
}
.recipePageCardIng {
  width: 30%;
}
.recipePageCardIns {
  width: 55%;
}
.recipePageCardInfoCb {
  margin: 1rem 0rem 0rem 0rem;
}
.recipePageCardInfoCb h2 {
  margin: 0rem 0rem 0.75rem 0rem;
}
.recipePageCardInfoCb div p {
  font-size: 1.15em;
}
/* #USERATINGSONRECIPEPAGE */
.userRatingCont {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}
.reviewFormCont {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 2rem 0rem 3rem 0rem;
}
.reviewForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviewForm textarea {
  padding: 1em;
  margin: 0rem 0rem 1rem 0rem;
}
.profileIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileImg {
  aspect-ratio: 1/1;
  width: 7rem;
  border-radius: 60px;
  background: gray;
  margin: 0rem 1rem 0rem 1rem;
}
.reviewBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ratingForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingForm textarea {
  width: 100%;
}
.ratingForm div {
  display: flex;
}
.userReview {
  width: 40rem;
  max-height: 10rem;
  border-style: solid;
  border-width: thin;
  padding: 0.75em;
}
/* #CREATERECIPEPAGE */
.createRecipePage {
  display: flex;
  justify-content: center;
}
.createRecipeCont {
  width: 85rem;
  margin: 4rem 0rem 4rem 0rem;
  border-style: solid;
  border-width: thin;
}
.createRecipeFormA,
.createRecipeFormB {
  padding: 2rem;
}
.createRecipeFormA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.createRecipeFormAb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.createRecipeHeader {
  display: flex;
  justify-content: center;
  margin: 0rem 0rem 1.5rem 0rem;
}
.createNewRecipeAb {
  display: flex;
  flex-direction: column;
}
.createNewRecipeAb input,
.createNewRecipeAb textarea {
  padding: 0.5em;
  font-size: 1rem;
  margin: 0rem 0rem 1.5rem 0rem;
}
.createNewRecipeAc {
  display: flex;
  justify-content: space-between;
}
.createNewRecipeAc input,
.createNewRecipeAc select {
  width: 24%;
  padding: 0.5em;
  margin: 0rem 0rem 1.5rem 0rem;
  box-sizing: border-box;
}
.createRecipeBtn {
  display: flex;
  justify-content: center;
}
.createRecipeBtn button {
  padding: 0.5em;
}
.createNewRecipeImg {
  aspect-ratio: 1/1;
  width: 600px;
  background: gray;
}
.createRecipeFormB {
  display: flex;
  flex-direction: column;
  height: 50em;
  background: #4c4c4c;
  color: #dbdbdb;
}
.createNewRecipeBa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.createNewRecipeBa textarea {
  height: 100%;
}
.createNewRecipeBb {
  display: flex;
  flex-direction: column;
}
.createNewRecipeBb h2 {
  margin: 0rem 0rem 0.75rem 0.7rem;
}
.createNewRecipeBa textarea,
.createNewRecipeBb textarea {
  padding: 0.75rem;
  border: none;
  outline: none;
  background: #676767;
  color: #dbdbdb;
  font-size: 20px;
}
.createNewRecipeBa textarea::placeholder,
.createNewRecipeBb textarea::placeholder {
  color: #dbdbdb;
}
.ingCreateRecipe div,
.insCreateRecipe div {
  display: flex;
  justify-content: center;
  margin: 0rem 0rem 1.5rem 0rem;
}
.ingCreateRecipe {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.insCreateRecipe {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.createNewRecipeBb {
  display: flex;
  height: 15%;
  width: 100%;
  margin: 2rem 0rem 0rem 0rem;
}
/* #CHEFPROFILECARD */
.chefProfileCardCont {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #f3f7f9;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e6eff2;
}
.chefProfileCard {
  display: flex;
  justify-content: center;
  /* width: 65%; */
  width: 75rem;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  margin: 3rem 0rem 3rem 0rem;
  background: #ededed;
}
.chefProfileCardA {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 2rem 1rem 2rem 2rem;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  background: white;
}
.chefProfileCardAHead,
.chefProfileCardBHead {
  display: flex;
  justify-content: center;
  margin: 0rem 0rem 1rem 0rem;
}
.chefProfileInfo h3 {
  margin: 0rem 0rem 1.5rem 0rem;
}
.chefProfileImage {
  width: 100%;
  aspect-ratio: 2.75/2;
  margin: 0rem 0rem 1.5rem 0rem;
  background: gray;
  border-radius: 15px;
}
.chefProfileCardB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 2rem 2rem 2rem 1rem;
}
.chefProfileCardBOne,
.chefProfileNavBar {
  padding: 2em;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  background: white;
}
.chefProfileCardBOne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0rem 0rem 2rem 0rem;
}
.chefProfileCardBDesc {
  margin: 0rem 0rem 1rem 0rem;
}
.chefProfileCardBInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 0rem 1rem 0rem;
}
.chefProfileCardBInfo div {
  width: 45%;
}
.chefProfileCardBStats {
  display: flex;
  justify-content: space-between;
}
.chefProfileNavBar {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
/* #FOLLOWING/FOLLOWER */
.followingProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followingIcon {
  width: 170px;
  aspect-ratio: 1/1;
  border-radius: 85px;
  background: gray;
  margin: 0rem 1rem 0rem 1rem;
}

/* .navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  height: 100vh;

  border-right: solid;
  border-width: 2px;
  border-color: black;

  position: fixed;
  background: rgb(29, 53, 87, 0.95);
}
.navBarBtn {
  display: flex;
  flex-direction: column;
}
.navBarBtn a,
.logOutButton {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.navBarBtn a svg {
  font-size: 30px;
  color: rgb(245, 240, 228);
}
.homeButton {
  background: rgb(50, 230, 134);
}
.exploreButton {
  background: rgb(239, 217, 46);
}
.drinkButton {
  background: rgb(180, 2, 106);
}
.entreeButton {
  background: rgb(234, 112, 18);
}
.userButton {
  background: rgb(83, 55, 122);
}
.createButton {
  background: rgb(87, 152, 177);
}
.loginButton {
  background: rgb(89, 192, 62);
}
.logOutButton {
  background: rgb(166, 30, 43);
}

.mainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  margin: 0% 30% 0% 17%;
}

.homePage {
  width: 100%;
}
.allRecipesCont {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(69, 123, 157, 0.3);
}

.filteredSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5%;

  border-bottom: solid;
  border-width: 2px;
  border-color: black;
}
#filteredSection {
  display: none;
}

.profilePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.createRecipePage {
  background: rgb(142, 202, 230, 0.8);
}

.loginPage,
.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: rgb(2, 62, 138, 0.1);
}

.chefProfileNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;

  border-bottom: solid;
  border-top: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(69, 123, 157, 0.9);
}
.userProfilePageMain {
  height: 100%;
}
.userRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(33, 158, 188, 0.2);
}
.userReviews {
  display: flex;
  flex-direction: column;
}
.userBookmarked {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#userBookmarked,
#userReviews,
#userFollowers,
#userFollowing {
  display: none;
  background: rgb(33, 158, 188, 0.2);
}
#userReviews,
#userFollowers,
#userFollowing {
  height: 100%;
}
.notification {
  display: flex;
  justify-content: center;
  width: 100%;
}
.followingProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.followingIcon {
  width: 120px;
  height: 120px;
  background: lightgray;
  border-radius: 60px;
}

.recipePageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid;
  border-width: 2px;

  background: rgb(0, 180, 216, 0.2);
}
.recipePageCardA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 400px;
  margin: 2.5%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(241, 250, 238, 0.8);
}
.recipePageCardAa {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.recipePageCardImg {
  width: 45%;
  background: lightgoldenrodyellow;
  margin: 12px;
}
.recipePageCardInfo {
  width: 55%;
  margin: 0px 12px 0px 0px;
}
.recipePageCardInfoA h3 {
  margin: 12px 0px 0px 0px;
}
.recipePageCardInfoB {
  display: flex;
  flex-direction: row;
}
.recipePageCardInfoBa {
  width: 100%;
}
.recipePageCardInfoBa p {
  margin: 12px 0px 0px 0px;
}
.recipePageCardB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 2.5%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(241, 250, 238, 0.8);
}
.recipePageCardInfoBb {
  display: flex;
  flex-direction: row;
}
.recipePageCardIng h3,
.recipePageCardIns h3,
.recipePageCardInfoCb h3 {
  margin: 12px 12px 12px 14px;
}
.recipePageCardIngA,
.recipePageCardInsA,
.recipePageCardInfoCb div {
  padding: 8px;
  margin: 0px 12px 12px 12px;
  border-radius: 10px;
}
.recipePageCardIngA p,
.recipePageCardInsA p {
  margin: 0px 0px 3.5% 0px;
}
.reviewFormCont {
  display: flex;
  flex-direction: row;
  padding: 2% 0px 2% 0px;
  border-bottom: solid;
  border-width: 2px;
}
.profileIcon,
.reviewForm {
  margin: 0px 3% 0px 3%;
}
.profileIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: lightgoldenrodyellow;
}
.reviewForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviewForm textarea {
  padding: 1%;
  margin: 0% 0% 2% 0%;
}
.reviewBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ratingForm {
  display: flex;
  flex-direction: row;
}
.userRatingCont {
  display: flex;
  flex-direction: row;
  padding: 2% 0px 2% 0px;
  border-bottom: solid;
  border-width: 2px;
}
.reviewFormCont,
.userRatingCont {
  background: rgb(241, 250, 238, 0.4);
}
.userRating {
  display: flex;
  flex-direction: row;
}

.onlyDrinksCont,
.dishesOnlyCont {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(69, 123, 157, 0.3);
}

.newRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100vh;

  border-left: solid;
  border-width: 2px;
  border-color: black;

  position: fixed;
  overflow: auto;
  right: 0px;
  background: rgb(2, 62, 138, 0.6);
}
.newRecipes::-webkit-scrollbar {
  display: none;
}


.pageBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5%;

  border-bottom: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(69, 123, 157);
}

.recipeCard {
  width: 90%;
  height: 430px;
  margin: 2.5%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(241, 250, 238, 0.5);
}
.recipeCardIn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.recipeCardA {
  width: 100%;
  height: 100%;
}
.recipeCardMainInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.recipeCardMainInfo a {
  width: 45%;
  background: lightgray;
  margin: 12px;
}
.recipeInfo {
  width: 55%;
  margin: 0px 12px 0px 0px;
}
.recipeInfo h3 {
  margin: 12px 0px 0px 0px;
}
.recipeInfoB {
  display: flex;
  flex-direction: row;
}
.recipeInfoBA {
  width: 100%;
}
.recipeInfoBA p,
.recipeInfoPoster p,
.recipeInfoDesc p {
  margin: 12px 0px 0px 0px;
}
.recipeCardB {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.recipeCardIngIns {
  display: flex;
  flex-direction: row;
  height: 75%;
}
.recipeCardIng {
  width: 40%;
}
.recipeCardIns {
  width: 60%;
}
.recipeCardIng,
.recipeCardIns {
  display: flex;
  flex-direction: column;
}
.recipeCardIng h3,
.recipeCardIns h3,
.recipeCardAdd h3 {
  margin: 12px 12px 12px 14px;
}
.recipeCardIng div,
.recipeCardIns div {
  padding: 8px;
  margin: 0px 12px 12px 12px;
  border-radius: 10px;
  background: rgb(241, 250, 238, 0.5);
  overflow: auto;
}
.recipeCardAdd div {
  padding: 5px;
  margin: 0px 12px 12px 12px;
  border-radius: 10px;
  background: rgb(241, 250, 238, 0.5);
}
.recipeCardIng div::-webkit-scrollbar,
.recipeCardIns div::-webkit-scrollbar {
  display: none;
}
.recipeCardIng div p,
.recipeCardIns div p {
  margin: 0px 0px 3.5% 0px;
}
.recipeCardAdd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25%;
}
.recipeCardC {
  display: flex;
  flex-direction: column;
}
.recipeCardC button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 2.5px;
  margin: 10px 10px 0px 0px;

  border: none;
  border-radius: 6px;
}
.recipeCardC button svg {
  color: black;
}
.seeInsIngBtn {
  background: rgb(72, 117, 208);
}
.chefProfileBtn {
  background: rgb(159, 99, 239);
}
.bookmarkBtn {
  background: rgb(212, 67, 87);
}
.likeBtn {
  background: rgb(238, 216, 73);
}
.reviewBtn {
  background: rgb(235, 227, 215);
}
.recipeCardC button svg {
  font-size: 20px;
}

.newRecipeCard {
  margin: 3%;
  padding: 2%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(241, 250, 238, 0.5);
}
.newRecipeCard h3 {
  margin: 0px 0px 12px 0px;
}
.newRecipeDesc {
  margin: 0px 0px 12px 0px;
}
.newRecipeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 12px 0px;
}
.buttonBar {
  display: flex;
  flex-direction: row;
}
.buttonBar div {
  display: flex;
  align-items: center;
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin: 100px 0px 0px 0px;
  padding: 30px 0px 45px 0px;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(255, 254, 230);
}
.loginForm h2,
.registerForm h2 {
  margin: 0px 0px 15px 0px;
}
.loginForm input,
.registerForm input {
  padding: 10px;
  margin: 0px 0px 25px 0px;
}
.loginForm button,
.registerForm button {
  padding: 5px;
}
.loginForm p,
.registerForm p {
  margin: 15px 0px 0px 0px;
}

.createRecipeCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createRecipeFormA,
.createRecipeFormB {
  background: rgb(241, 250, 238, 1);
}
.createRecipeFormA {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 400px;
  margin: 2%;

  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.createNewRecipeImg {
  width: 45%;
  background: lightgray;
  margin: 12px;
}
.createNewRecipeA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}
.createNewRecipeAb {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.createNewRecipeAb input,
.createNewRecipeAb textarea {
  margin: 12px;
  padding: 1%;
}
.createNewRecipeAb textarea {
  height: 100%;
}
.createNewRecipeAc {
  display: flex;
  flex-direction: column;
}
.createNewRecipeInfoAc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.createNewRecipeInfoAcb {
  display: flex;
}
.createNewRecipeInfoAcb select,
.createNewRecipeInfoAcb input {
  width: 100%;
  margin: 12px;
  padding: 7px;
  font-size: 16px;
}
.createRecipeFormB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 400px;
  margin: 2%;

  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.createRecipeFormBa {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.createNewRecipeBa {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.createNewRecipeBb {
  display: flex;
  height: 35%;
}
.createNewRecipeBa textarea,
.createNewRecipeBb textarea {
  width: 100%;
  margin: 12px;
  padding: 1%;
}


.chefProfileCardCont {
  display: flex;
  justify-content: center;

  background: rgb(142, 202, 230, 0.8);
}
.chefProfileCard {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 400px;
  margin: 2.5%;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  background: rgb(200, 18, 37, 0.7);
}
.chefProfileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background: lightgoldenrodyellow;
  margin: 12px;
}
.userIconCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userIcon {
  width: 150px;
  height: 150px;
  background: lightgray;
  border-radius: 37px;
}
.chefProfileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  margin: 12px 12px 12px 0px;
}
.chefProfileInfoA {
  display: flex;
  flex-direction: column;
}
.chefProfileInfoA div {
  margin: 0px 0px 12px 0px;
}
.chefProfileInfoAb {
  display: flex;
  justify-content: space-between;
}
.chefProfileInfoAd {
  display: flex;
  flex-direction: row;
}
.chefProfileInfoAd div {
  width: 100%;
}
.chefProfileSettings {
  display: flex;
  flex-direction: column;
}
#chefProfileSettings {
  display: none;
}
.chefProfileUpdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chefProfileUpdateA {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chefProfileUpdateA select,
.chefProfileUpdateA input,
.chefProfileUpdateA textarea {
  padding: 1%;
  margin: 0px 0px 12px 0px;
}
.chefProfileUpdateA select {
  width: 100%;
}
.chefProfileUpdateB {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.chefProfileUpdateB input,
.chefProfileUpdateB select {
  padding: 1%;
  margin: 0px 0px 12px 0px;
}
.chefProfileSub {
  display: flex;
  justify-content: center;
} */
